.ccm-block-tgs-content-box {
    &.default {
        position: relative;
        &.image-left,
        &.image-right {
            .tgs-content-box-text {
                > :first-child {
                    margin-top: 0;
                }
            }
        }
        .tgs-content-box-media {
            margin-bottom: 1rem;
        }
        figcaption {
            margin-top: .5rem;
        }
    }
}
